# Bỏ qua tất cả mọi thứ ở thư mục gốc
/*

# Loại trừ (không bỏ qua) thư mục addons và file .gitignore
!/addons/
!.gitignore
!.github/

# Bên trong thư mục addons, vẫn bỏ qua các file rác của Python
**/__pycache__/
**/*.py[co]
**/*.swp
**/*~

# Bỏ qua các file rác phát sinh trong quá trình Đại Ca làm việc
/archive_scripts_*/
/archive_temp_files.sh

.env